<h1>Favorite Pets</h1>

  <body class="display">
    <% if favorites.total_count == 0 %>
      <strong>You have no favorite pets.</strong><br>
    <% else %>
      <% favorites.contents.each do |favorite| %>
      <section class="block" id="favorite-<%= favorite["id"] %>">>
        <%="#{favorite["image"]}" %> <br>
        <strong>Favorite Pet Name: </strong> <%= link_to "#{favorite["name"]}", "/pets/#{favorite["id"]}" %> <br>
        <%= button_to "Unfavorite This Pet", "/favorites/#{favorite["id"]}", method: :delete %>
        <br>
        <br>
      </section>
      <% end %>
    <% end %>
  </body>
