<h1>All Reviews</h1>

<body class="display">

<% @reviews.each do |review| %>
  <section class="block" id = "review-<%=review.id%>">
  <strong>Review Title: <%=review.title%></strong><br>
  <strong>Review Rating: <%=review.rating%></strong><br>
  <strong>Review Content: <%=review.content%></strong><br>
</section>

<% end %>
</body>
